DATABASE_URL=postgresql://carvalhaesiluminacao:senha@db:5432/carvalhaesiluminacao
DB_USER=carvalhaesiluminacao
DB_PASS=MUDAR_ISTO
SECRET_KEY=GERAR_CHAVE_ALEATORIA
WEBHOOK_SECRET=WEBHOOK_SECRET_DO_GITHUB
ADMIN_USER=admin
ADMIN_PASS=mudar123
CLOUDFLARE_TUNNEL_TOKEN=TOKEN_DO_NOVO_TUNNEL
